<!DOCTYPE html>
  <html lang="en">
  <head>
    <%- include hearder.ejs %>
  </head>
  <body class="container">
    <header>
      <%- include menu.ejs %>
    </header>
    <main>
        <div class="row">
        <% images.forEach(function(image) { %>
        <div class="instagram-pic col-sm-3">
        <a href="<%= image.profile_picture %>" target="_blank"><img src="<%= image.images.standard_resolution.url %>" class="img-responsive"/></a>
        <div class="instagram-bar">
        <div class="likes">
        <span class="glyphicon glyphicon-heart"></span>
        <%= image.likes.count %>
        </div>
        <div class="comments">
        <span class="glyphicon glyphicon-comment"></span>
        <%= image.comments.count %>
        </div>
        </div>
        </div>
        <% }); %>
        </div>
        </main>
    <footer>
      <%- include footer.ejs %>
    </footer>
  </body>
</html>